@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>


<h1>Hitchhiker</h1>

<h5>Ylivoimaisesti paras itseohjeuvien taksien tilaussovellus!</h5>

<form id="tilaus">
    <div class="form-group row">
        <div class="col-xs-3">
            <label for="lahtopaikka">Syötä lähtöpaikkasi</label>
            <input class="form-control" id="lahtopaikka" type="text">
        </div>
    </div>
    <button type="button" class="btn btn-primary" id="tilaa">Tilaa taksi</button><br />
</form>

<div id="map"></div>
<script>
    var geocoder;
    var map;
    var address = "Kuopio";
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var uluru = { lat: 62.898898, lng: 27.663073 };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 4, center: uluru });
        // The marker, positioned at Uluru
        //var marker = new google.maps.Marker({ position: uluru, map: map });
        geocoder = new google.maps.Geocoder();
        codeAddress(geocoder, map);

        function codeAddress(geocoder, map) {
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });

                }
                else {
                    alert('Ei toimi!');
                    console.log(marker);
                }

            });

        }
    }
</script>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD94exZRr-Ixljoe-yYsAIomWihzzaecKU&callback=initMap">
</script>


