
@{
    ViewData["Title"] = "Valinta";
}

<h2>Vapaat taksit</h2>

<h5>Ylivoimaisesti paras itseohjeuvien taksien tilaussovellus!</h5>

<div class="w3-dropdown-hover">
    <table class="w3-table-all w3-hoverable">
        <thead>
            <tr>
                <th></th>
                <th>Lähtöpaikka</th>
                <th>Perillä</th>
                <th>Matkustajien määrä</th>
                <th>Lähtöaika</th>
                <th>Hinta</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <td><img src="~/images/taxi.png" /></td>
                <td>Kuopion tori</td>
                <td>25 min</td>
                <td>Neljä matkustajaa</td>
                <td>15:30</td>
                <td>7,5€</td>
                <td><button type="button" class="btn btn-primary" id="valitse">Valitse</button><br /></td>
            </tr>
        </thead>
    </table>
    <div class="w3-dropdown-content w3-bar-block w3-border">
        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr>
                    <th></th>
                    <th>Lähtöpaikka</th>
                    <th>Perillä</th>
                    <th>Matkustajien määrä</th>
                    <th>Lähtöaika</th>
                    <th>Hinta</th>
                </tr>
            </thead>
            <thead>
                <tr class="light.grey">
                    <td><img src="~/images/taxi.png" /></td>
                    <td>Kuopion tori</td>
                    <td>15 min</td>
                    <td>Kolme matkustajaa</td>
                    <td>14:30</td>
                    <td>5€</td>
                    <td><button type="button" class="btn btn-primary" id="valitse1">Valitse</button><br /></td>
                </tr>
            </thead>
            <thead>
                <tr>
                    <td><img src="~/images/taxi.png" /></td>
                    <td>Satama</td>
                    <td>30 min</td>
                    <td>Yksi matkustaja</td>
                    <td>15:00</td>
                    <td>10€</td>
                    <td><button type="button" class="btn btn-primary" id="valitse2">Valitse</button><br /></td>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {               
            $('#valitse').click(function () {
                alert('Taksi tilattu jihaa!!!!');

            });
            $('#valitse1').click(function () {
                alert('Taksi tilattu jihaa!!!!');

            });
            $('#valitse2').click(function () {
                alert('Taksi tilattu jihaa!!!!');

            });
        });
        
    </script>
}